/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-paginator {
  .mat-mdc-paginator-navigation-previous,
  .mat-mdc-paginator-navigation-next {
    color: #1976d2 !important;
    transform: scale(0.8);
    margin: 0 4px;
  }

  .mat-mdc-paginator-navigation-previous .mat-mdc-paginator-icon,
  .mat-mdc-paginator-navigation-next .mat-mdc-paginator-icon {
    width: 20px;
    height: 20px;
  }
} 